appdirs==1.4.4
asgiref==3.4.1
attrs==22.1.0
Automat==20.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.11
chromedriver-py==103.0.5060.24
constantly==15.1.0
cryptography==37.0.4
cssselect==1.1.0
distlib==0.3.4
Django==3.2.12
et-xmlfile==1.1.0
fake-useragent==0.1.11
filelock==3.4.1
future==0.18.2
helium==3.0.8
helium-python==0.9.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
incremental==21.3.0
inflection==0.5.1
itemadapter==0.7.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.7.1
numpy==1.19.5
openpyxl==3.0.9
pandas==1.1.5
parse==1.19.0
parsel==1.6.0
pipenv==2021.11.23
platformdirs==2.4.0
Protego==0.2.1
psycopg2==2.7.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyee==8.2.2
pyOpenSSL==22.0.0
pyppeteer==0.2.6
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2021.3
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
requests-html==0.10.0
Scrapy==2.6.2
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tldextract==3.1.2
tqdm==4.64.0
Twisted==21.2.0
typing_extensions==4.0.1
urllib3==1.26.8
virtualenv==20.13.0
virtualenv-clone==0.5.7
w3lib==1.22.0
websockets==9.1
zipp==3.6.0
zope.interface==5.4.0
